<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="bg-black">
      <ion-col class="ion-text-center">
        <h1>MOCK<b>INTERVIEW</b></h1>
      </ion-col>
    </ion-row>
    <ion-row class="bg-black">
      <ion-col class="ion-text-center">
        <ion-segment [(ngModel)]="chatType" value="avatar">
          <ion-segment-button value="avatar">
            <ion-label>AVATAR</ion-label>
          </ion-segment-button>
          <ion-segment-button value="text">
            <ion-label>TEXT</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding: 0">
        <div [ngSwitch]="chatType">
          <div *ngSwitchCase="'avatar'">
            <img src="assets/avatar.png" width="100%" />
          </div>
          <div *ngSwitchCase="'text'">
            <div class="text-chat"></div>
          </div>
        </div>
        <div speech-bubble ptop aleft flip style="--bbColor: #e6eff6">
          <p class="intro">
            Hi {{playerName}}, It's great to meet you. Thank you for coming in
            today. Let's get started. Can you tell me a little bit about
            yourself?
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="welcome">
        Welcome to mock interview. Chat with micheal for a real Mock Interview.
        Use the buttons below to direct the interview
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div
                *ngFor="let msg of msgList"
                class="{{msg.user !== playerName ? 'message left' : 'message right'}}"
              >
                <div class="msg-detail">
                  <div class="msg-content">
                    <p class="line-breaker">{{msg.message}}</p>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="auto-chat">
                <ion-textarea
                  #chat_input
                  rows="4"
                  placeholder="Please write your message here!"
                  [(ngModel)]="editorMsg"
                  (keyup.enter)="sendMsg()"
                  (ionChange)="inputChange()"
                  (ionFocus)="onFocus()"
                ></ion-textarea>
                <div class="icons">
                  <!-- <img src="assets/Mic-icon.png" width="30" /> -->
                  <button
                    ion-button
                    clear
                    icon-only
                    item-right
                    style="font-size: 1.9em"
                  >
                    <ion-icon name="mic"></ion-icon>
                  </button>
                  <button
                    ion-button
                    clear
                    icon-only
                    item-right
                    style="font-size: 1.5em"
                    (click)="sendMsg()"
                  >
                    <ion-icon name="send"></ion-icon>
                  </button>
                  <!-- <img
                    src="assets/arrow-icon.png"
                    width="30"
                    (click)="sendMsg()"
                  /> -->
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="repeat-btn" (click)="repeatQuestion();"
          >REPEAT QUESTION</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="ask-btn" (click)="askQuestion();"
          >ASK ANOTHER QUESTION</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="feedback-btn" (click)="giveFeedback();"
          >GIVE FEEDBACK</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="end-btn" (click)="endInterview()"
          >END INTERVIEW</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <app-explore-container name="Tab 1 page">
  </app-explore-container> -->
</ion-content>
