h1 {
  font-weight: 200;
  b{
    font-weight: 700;
  }
}

ion-segment {
  width: 250px;
  margin: 0 auto;
}
.intro {
  background: #E6EFF6;
  padding: 15px;
  margin: 10px 0 10px 10px;
  position: absolute;
  bottom: 20px;
  color: #000;
  width: 85%;
  border: 1px solid #4FAAFD;
}
.welcome {
  font-weight: 400;
  width: 95%;
  margin: auto;
  font-size: 14px;
  text-align: center;
  color: #656565;

}

.auto-chat {
  display: flex;
  background: #E6EFF6;
  padding: 5px 15px;
  margin: auto;
  border: 1px solid #4FAAFD;
  border-radius: 25px;
  color: #000;
  margin-bottom: 15px;
}

.repeat-btn {
  --background: transparent;
  border: 1px solid #FD014C;
  --border-radius: 0;
}

.ask-btn {
  --background: #FD014C;
  color: #fff;
  border: none;
  --border-radius: 0;
}

.feedback-btn {
  border: 1px solid #538BBA;
  --background: transparent;
  --border-radius: 0;
}

.end-btn {
  --background: transparent;
  border: 1px solid #FD014C;
  font-size: 12px;
  --border-radius: 0;
}

.button-solid {
  --background-activated: #ccc;
  --background-focused: #ccc;
}
